name: CI Mentoria

# gatilhos
on: 
  workflow_dispatch: 

jobs:
  tests: 
    # [config do so]
    runs-on: ubuntu-latest   

    # locais ou passos
    steps: 

      # [projetos]
      - name: Checkout do Repositório 
        uses: actions/checkout@v4 

      - name: Instalando as depências 
        run: npm install       

      - name: Iniciar o servidor de aplicação 
        run: node app.js & 

      - name: Esperar que o servidor inicie
        run: npx wait-on http://localhost:4000

      - name: Executar os testes 
        run: npx cypress run     
